{
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": [2, "only-multiline"],
    "func-names": "off",
    "indent": ["error", 2, { "MemberExpression": "off"}],
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "always"]
  }
}
